body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 50px 20px;
}
#wordlyDictionary {
    background-color: rgb(231, 138, 71);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    
}
#app-description {
    color: cornsilk;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: large;

}
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid cornsilk;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
    outline: none;
    box-shadow: 0 0 8px rgba(255, 248, 220, 0.5);

}
button {
    width: 50%;
    padding: 15px;
    background-color: cornsilk;
    color: rgb(231, 138, 71);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: white;
    transform: translate(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
button:active {
    transform: translateY(0);
}
#resultsArea {
    margin-top: 60px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.definition-card {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: left;
    border-left: 8px solid rgb(231, 138, 71); 
    margin-bottom: 16px;
}
.result-word {
    color: rgb(231, 138, 71);
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;
}
.result-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}
#error-message {
    color: red;
    font-size: large;
    font-weight: bold;
}

